* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  main section {
    margin-bottom: 40px;
  }
  
  main h2 {
    margin-bottom: 10px;
  }
  
  main p, main ul {
    margin-bottom: 15px;
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
  }
  .background-img {  
    min-height: 720px;  
    background-size: cover;      
    background-image: url(  
"https://cdn.pixabay.com/photo/2018/04/05/23/30/sky-3294543_640.jpg");  
background-size: cover;
}